@import '../../styles/variables.scss';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc((100% / 5) - 46px);
  color: $c-grey-2;
  cursor: pointer;

  &__thumb {
    position: relative;
    width: 215px;
    height: 220px;
    border: 1px solid #C4C4C4;
    background-color: #ffffff;
    margin-bottom: 8px;
    overflow: hidden;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29.26px;
    margin-top: 0;
    margin-bottom: 8px;
  }

  &__price {
    margin: 0;
    font-size: 18px;
    line-height: 29.26px;
  }
}