@import '../../styles/variables.scss';

.cart-card {
  display: flex;
  align-items: center;
  margin-bottom: 48px;

  &:last-child {
    margin-bottom: 0;
  }

  &__thumb-title-wrapper {
    display: flex;
    align-items: center;
    width: 45%;
  }

  &__thumb {
    position: relative;
    width: 148px;
    height: 148px;
    margin-right: 44px;
    overflow: hidden;

    img {
      position: absolute;
      width: 100%;
      height: auto;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__title {
    font-weight: 500;
    color: $c-grey-2;
    font-size: 24px;
    line-height: 29px;
  }

  &__price {
    width: 20%;
    font-weight: 500;
  }

  &__quantity {
    width: 20%;

    span {
      display: inline-block;
      min-width: 67px;
      border: 1px solid $c-grey-3;
      width: 70px;
      outline: none;
      font-size: 24px;
      line-height: 29px;
      color: $c-grey-2;
      font-weight: 500;
      padding: 7px;
    }
  }

  &__item-cost {
    font-size: 14px;
    line-height: 17px;
    color: #777777;
  }
}

.btn-delete {
  font-size: 0;
  background-color: transparent;
  border: none;
  width: 17px;
  height: 29px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../assets/images/icon-close.svg);
  cursor: pointer;
}