.block-title-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 43px;
}

.filter-block {
  display: flex;
  align-items: center;
}

.sort-price,
.filter-color {
  display: flex;
  align-items: center;
}

.sort-price {
  margin-right: 20px;
}