@import '../../styles/variables.scss';

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;

  &_primary {
    text-transform: uppercase;
    font-size: 18px;
    color: $c-orange;
    font-weight: 500;
    padding: 14px 50px;
    border: 1px solid $c-orange;
    align-self: center;
  }

  &.justify-center {
    align-self: center;
  }

  &.justify-end {
    align-self: flex-end;
  }

  &.sort {
    margin-left: 7px;
    margin-right: 7px;
    color: $c-black;
    padding: 10px;
    border: 1px solid $c-orange;
  }

  &.filter {
    border: 1px solid $c-orange;
    width: 30px;
    height: 30px;
    margin-left: 7px;
    margin-right: 7px;
    border-radius: 50%;

    &.white {
      background-color: white;
    }

    &.black {
      background-color: black;
    }

    &.pink {
      background-color: pink;
    }

    &.red {
      background-color: red;
    }

    &.green {
      background-color: green;
    }
  }

  &.reset {
    padding: 10px 15px;
    border: 1px solid $c-orange;
  }
}