* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat';
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

img {
  max-width: 100%;
}

.main__inner {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
/* pages */

/* Cart */

.cart-header {
  display: flex;
  align-items: center;
  padding-bottom: 19px;
  margin-bottom: 25px;
  border-bottom: 1px solid $c-grey-2-opacity-0-3;
  padding-left: 20px;
  padding-right: 20px;
}

.cart-title {
  font-size: 24px;
  color: $c-black;
  line-height: 29px;
  font-weight: 500;
  margin: 0;

  &_product {
    width: 45%;
  }

  &_price {
    width: 20%;
  }

  &_quantity {
    width: 20%;
  }
}

.cart-card-list {
  padding-bottom: 19px;
  margin-bottom: 25px;
  border-bottom: 1px solid $c-grey-2-opacity-0-3;
  padding-left: 20px;
  padding-right: 20px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 190px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: $c-black;
}
