@import '../../styles/variables.scss';

.header {
  padding: 16px 0;

  &__inner {
    display: flex;
    align-items: center;
  }
}

.logo {
  display: block;
  width: 148px;
}

.nav {
  display: flex;
  margin-left: 86px;

  &__item {
    margin-right: 44px;
    font-size: 18px;
    text-decoration: none;
    color: $c-grey-1;

    &:hover {
      text-decoration: underline;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
.cart {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 16px;

  &__count {
    color: $c-grey-2;
    &::after {
      display: inline-block;
      content: "/";
      margin: 0 5px;
    }
  }

  &__quantity {
    display: inline-block;
    margin-right: 7px;
  }

  &__cost {
    color: $c-orange;
  }

  &__link {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../assets/images/icon-cart.svg);
    margin-left: 13px;
  }
}